#heading {
    height: 3rem;
    display: flex;
    background-color: navy;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 1%;
}
#header{
    font-size: x-large;
}
#heading button{
    font-size: 1rem;
    background-color: red;
    border: none;
    color: white;
    height: 2rem;
    width: 5rem;
    border-radius:0.4rem;
    cursor: pointer;
}
#dashboard-title{
    margin-top: 2rem;
    font-size: xx-large;
    margin-left: 20%;
}
#searcharea{
    margin-left: 20%;
    position: relative;
    
}
#searchbar{
    border:1px solid #dadada;
    height:2rem;
    width: 55vw;
    font-size: medium;
    padding: 0.2rem;
    padding-left: 1.4rem;
    border-radius: 0.5rem;
}
#search-icon{
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 0.5rem;
}
.addnotes{
    margin-left: 20%;
    border:none;
    height: 2.5rem;
    width: 6rem;
    align-self:center;
    background-color: #2563EB;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}
.plus{
    padding-top: 0.1rem;
}
#image{
    margin-left: 0.7rem;
    height: 15vh;
    width: 19vh;
    background-image: url("https://cdn-icons-png.freepik.com/512/7235/7235470.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#empty-text #text{
    display: flex;
    margin-left: 10%;
    width: 80vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}
#text button{
    margin-left:0;
}
#allnotes{
    margin-left: 20%;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    gap:2rem
}
.note{
    padding: 0.5rem;
    background-color: white;
    width: 17rem;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    gap:1rem;
    border-radius: 0.5rem;
}
.note .date{
    color: lightslategray;
}

.note-header{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    justify-content: space-between;
    font-size: large;
}
.note-header .text{
    min-width: 0;
    overflow-wrap: break-word;
}
.update{
    font-size: larger;
    background-color: white;
    border:none;
    color: red;
    cursor:pointer;
    margin-right: 1rem;
}
.delete{
    font-size: larger;
    background-color: white;
    border:none;
    color: #2563EB;
    cursor:pointer;
}