.app-login{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}
.heading-text{
    font-size:x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form,#signup-form{
    padding: 2rem;
    background-color: #FFFFFF;
    min-height:10%;
    min-width: 20%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    gap: 1rem;
}
.name,.password,.email{
    border:1px solid #dadada;
    height: 1.8rem;
    width: 18rem;
    padding: 0.2rem;
}
#login-button,#signup-button{
    border:none;
    height: 2.5rem;
    width: 18rem;
    align-self:center;
    background-color: #2563EB;
    color: white;
    cursor: pointer;
    border-radius: 0.5rem;
}

#googlelogin{
    width: 18rem;
    border-radius: 0.5rem;
}
#signup{
    background-color: white;
    color: #2563EB;
    border: none;
    font-size:medium;
    cursor: pointer;
}